<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wisdom & Transport</title>
</head>
<body>

Without date formating: {{.}}

With date formatting: {{fdateMDY .}}

</body>
</html>